<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="container mt-5">
            <h1>Spread a new Virus!</h1>
            <form th:action="@{/viruses/add}" th:method="post">
                <div class="form-group">
                    <label for="virusName">Name</label>
                    <input type="text" class="form-control" id="virusName">
                </div>

                <div class="form-group">
                    <label for="virusDescriptions">Descriptions</label>
                    <textarea class="form-control" id="virusDescriptions" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="virusSideEffect">Side Effect</label>
                    <input type="email" class="form-control" id="virusSideEffect">
                </div>

                <div class="form-group">
                    <label for="virusCreator">Creator</label>
                    <input type="text" class="form-control" id="virusCreator">
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isVirusDeadly">
                    <label class="form-check-label" for="isVirusDeadly">
                        isDeadly?
                    </label>
                </div>

                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="isVirusCurable">
                    <label class="form-check-label" for="isVirusCurable">
                       isCurable?
                    </label>
                </div>

                <div class="form-check mt-4">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="virusMatation1" value="option1">
                    <label class="form-check-label" for="virusMatation1" th:text="ZOMBIE">
                    </label>
                </div>

                <div class="form-check mt-2">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="virusMatation2" value="option2">
                    <label class="form-check-label" for="virusMatation2" th:text="T_078_TYRANT">
                    </label>
                </div>

                <div class="form-check mt-2">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="virusMatation3" value="option3">
                    <label class="form-check-label" for="virusMatation3" th:text="GIANT_SPIDER">
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4" disabled>
                    <label class="form-check-label" for="exampleRadios4">
                        Save Humanity
                    </label>
                </div>
                <p>Mutation cannot be null</p>

                <div class="form-group">
                    <label for="virusTurnoverRate">Turnover Rate</label>
                    <input type="number" class="form-control" id="virusTurnoverRate">
                </div>

                <div class="form-group">
                    <label for="virusHoursUntilTurn">Hours Until Turn</label>
                    <input type="number" class="form-control" id="virusHoursUntilTurn">
                </div>

                <div class="form-group">
                    <label for="virusMagnitude">Magnitude</label>
                    <select class="form-control" id="virusMagnitude">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="virusReleaseDay">Release Day</label>
                    <input type="date" class="form-control" id="virusReleaseDay">
                </div>

                <th:block >
                    <div class="form-group">
                        <label for="virusAffectedCapitals">Affected Capitals</label>
                        <select multiple class="form-control" id="virusAffectedCapitals">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </th:block>
            </form>
        </div>
    </main>

    <footer>
        <div class="container-fluid re-background mt-5">
            <div class="text-white p-2 text-center">&copy; CopyRight Anonymous Web Design Studios 2019. All rights
                reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</html>